# dependencies
node_modules

# VCS
.git
.gitignore

# env / secrets
.env
.env.*
*.pem
*.key
*.crt

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# tests & coverage
coverage
*.lcov
test-results

# OS / editor
.DS_Store
Thumbs.db
.vscode
.idea

# build output (če obstaja)
dist
build
